name: ci
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
permissions:
  checks: write
  contents: read
  pull-requests: write
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: azure/setup-helm@v3.5
        with:
          version: v3.7.0
      - uses: actions/checkout@v4
      - run: make test

  remind-of-release-version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |
        echo "SPRING_CHART_VERSION=$(grep -Po '(?<=version: )[0-9.]+' charts/spring-service/Chart.yaml)" >> "$GITHUB_ENV"
        echo "CRONJOB_CHART_VERSION=$(grep -Po '(?<=version: )[0-9.]+' charts/cronjob/Chart.yaml)" >> "$GITHUB_ENV"
    - run: |
        git show-ref --tags --verify --quiet "refs/tags/spring-service-${SPRING_CHART_VERSION}" && \
            echo "SPRING_EXISTS=true" || echo "SPRING_EXISTS=false" >> "$GITHUB_ENV"
        git show-ref --tags --verify --quiet "refs/tags/cronjob-${CRONJOB_CHART_VERSION}" && \
            echo "CRONJOB_EXISTS=true" || echo "CRONJOB_EXISTS=false" >> "$GITHUB_ENV"
    - uses: marocchino/sticky-pull-request-comment@v2
      with:
        message: |
          Merging this PR will attempt to deploy these Charts (existing versions will be skipped):
          ${{ env.SPRING_EXISTS == 'false' && format('* spring-service **{0}**', env.SPRING_CHART_VERSION) || '' }}
          ${{ env.CRONJOB_EXISTS == 'false' && format('* cronjob **{0}**', env.CRONJOB_CHART_VERSION) || '' }}

  deploy:
    needs: [test]
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest

    steps:
      - uses: azure/setup-helm@v3.5
        with:
          version: v3.7.0

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - uses: helm/chart-releaser-action@v1.2.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
